.footer {
    width: 80%;
    margin-left: 10%;
    margin-top: 4%;
    margin-bottom: 20px;
  
    

    .footer-content {
        border-top: 1px solid lightgray; 
        display: flex;
        justify-content: space-between;
        color: gray;
        font-size: 1rem;
        color: rgba(0, 0, 0, 0.44);
        padding-top: 8px;
        
        
    }

    .span {
        color: green
    }

}